#BUILD_DATE=`date +%Y-%m-%d`
##BUILD_DATE=2012-10-03
BUILD_DATE=2013-02-02
#Set the packet version
PKG_VERSION="VDLinux.GA1.${BUILD_DATE}"
#Set the URL for bug report
WITH_BUGURL="http://linux.sec.samsung.net/VDLinux/"

#Set target cpu name
TARGET_CPU=arm
FULL_TARGET_CPU_NAME=${TARGET_CPU}

CPU_TUNE="cortex-a8"
CPU_TUNE_WITH_VER="v7a8v3r1"

TARGET="${FULL_TARGET_CPU_NAME}-${CPU_TUNE_WITH_VER}-linux-gnueabi"

#The GCC target CPU tunning
WITH_ARCH=armv7-a
WITH_TUNE="$CPU_TUNE"
WITH_FLOAT=softfp
WITH_CPU="$CPU_TUNE"
GLIBC_TARGET_SPECIFIC_FLAGS=""
GCC_TARGET_SPECIFIC_FLAGS="--with-interwork --with-mode=arm --with-fpu=vfp3 --with-cpu=$WITH_CPU --with-tune=$WITH_TUNE --with-float=$WITH_FLOAT"
GCC_FINAL_TARGET_SPECIFIC_FLAGS="--enable-libgomp"

BUILD_VERSION=""
