#BUILD_DATE=`date +%Y-%m-%d`
BUILD_DATE=2012-10-03
#Set the packet version
PKG_VERSION="VDLinux.GA1.${BUILD_DATE}"
#Set the URL for bug report
WITH_BUGURL="http://linux.sec.samsung.net/VDLinux/"

#Set target cpu name
TARGET_CPU=mips
FULL_TARGET_CPU_NAME="${TARGET_CPU}el"

CPU_TUNE=34kf
CPU_TUNE_WITH_VER=34kv3r1

TARGET="${FULL_TARGET_CPU_NAME}-$CPU_TUNE_WITH_VER-linux-gnu"

#The GCC target CPU tunning
WITH_ARCH=mips32r2
WITH_TUNE="$CPU_TUNE"
WITH_FLOAT=hard
WITH_CPU="$CPU_TUNE"
GLIBC_TARGET_SPECIFIC_FLAGS=""
GCC_TARGET_SPECIFIC_FLAGS="--with-arch=${WITH_ARCH} --with-tune=${CPU_TUNE} --with-mips-plt --with-float=${WITH_FLOAT}"
GCC_FINAL_TARGET_SPECIFIC_FLAGS="--disable-libgomp"

BUILD_VERSION=""
